body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px black;
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.hidden {
    display: none;
}

.log {
    margin-top: 15px;
    background: #0f172a;
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    overflow-y: auto;
    font-size: 14px;
}
